name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish YukimiScript.Parser
      run: dotnet publish YukimiScript.Parser -c Release
      if: ${{ runner.os == 'Windows' }}
    - name: Upload YukimiScript.Parser Library
      if: ${{ runner.os == 'Windows' }}
      uses: actions/upload-artifact@v2.2.4
      with:
          name: "YukimiScript.Parser Library"
          path: "${{ github.workspace }}/YukimiScript.Parser/bin/Release/netstandard2.0/publish/YukimiScript.Parser.dll"
    - name: Publish Command Line Tool for Windows
      if: ${{ runner.os == 'Windows' }}
      run: dotnet publish YukimiScript.CommandLineTool -c Release -r win7-x64
    - name: Publish Command Line Tool for macOS
      if: ${{ runner.os == 'macOS' }}
      run: dotnet publish YukimiScript.CommandLineTool -c Release -r osx-x64
    - name: Publish Command Line Tool for Linux
      if: ${{ runner.os == 'macOS' }}
      run: dotnet publish YukimiScript.CommandLineTool -c Release -r linux-x64
    - name: Upload Command Line Tool
      uses: actions/upload-artifact@v2.2.4
      with:
          name: YukimiScript Command Line Tool for ${{ runner.os }}
          path: "${{ github.workspace }}/YukimiScript.CommandLineTool/bin/"


