name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish Command Line Tool
      run: dotnet publish YukimiScript.CommandLineTool -c Release -r win7-x64
    - name: Upload Command Line Tool for Windows x64
      uses: actions/upload-artifact@v2.2.4
      with:
          name: "YukimiScript Command Line Tool for Windows x64"
          path: "${{ github.workspace }}/YukimiScript.CommandLineTool/bin/Release/net5.0/win7-x64/publish/ykmc.exe"
    - name: Publish YukimiScript.Parser
      run: dotnet publish YukimiScript.Parser -c Release
    - name: Upload YukimiScript.Parser Library
      uses: actions/upload-artifact@v2.2.4
      with:
          name: "YukimiScript.Parser Library"
          path: "${{ github.workspace }}/YukimiScript.Parser/bin/Release/netstandard2.0/publish/YukimiScript.Parser.dll"
          
  build-macos:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish YukimiScript.CommandLineTool -c Release -r osx-x64
    - name: Upload Artifact
      uses: actions/upload-artifact@v2.2.4
      with:
          name: "YukimiScript Command Line Tool for macOS x64"
          path: "${{ github.workspace }}/YukimiScript.CommandLineTool/bin/Release/net5.0/osx-x64/publish/ykmc"
